*{
  font-family: monospace;
  font-size: 20;
  text-align:right;

}

#sidebar {
  position: absolute;
  right:0px;
  top: 0px;

  background-color: black;

  min-width: 30%;
  max-width: 10%;
  min-height: 100%;
}

#temperatureDisplay{
  font-size: 200

}
#control_Panel{
  position:absolute;
  top: 150px;
  right: 31%;
}
#cityTemp{
  position:absolute;
  top:500px;
  left: 10%;
}
